.header {
  grid-area: h;
  border-radius: 5px;
}


.header img {
  width: 85px;
  text-align: center;
}

.loginBlock {
  float: right;
}
.loginBlock a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
