.app-Wrapper {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  border-radius: 100px;
  width: 1200px;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
	/*border: 1px dashed #000;*/

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-Wrapper-Content {
  grid-area: c;
  width: auto;
  background-color: #6FADFD;
  border-radius: 2px;
	color: #1B365C;
}
